In [2]:
import re

query = []

def GetTheStatements():
    with open('sample_stored_procedure.sql') as fp:
        for result in re.findall('(.*?);', fp.read(), re.S):
            query.append(result)
    print(query)

GetTheStatements()

['INSERT INTO VT_PDA_LU_TIME\n\nSELECT PROMO_WEEK_ID AS WEEK_ID  \n\n, NULL AS WEEK_ID_MINUS_1\n, NULL AS PGM_PERIOD_ID\n, NULL AS FISCAL_WEEK_ID\n, NULL AS FISCAL_QUARTER_ID\n, NULL AS UPDATE_TS_MT\n\nFROM DW_DSS.LU_PROMO_DAY\n\nWHERE DIVISION_ID = 25 \n\nAND D_DATE = (\n  SELECT D_DATE\n  FROM DW_DSS.LU_DAY_MERGE\n  WHERE WEEKDAY_NBR = 4  \n  AND WEEK_ID = (\n    SELECT WEEK_ID\n    FROM DW_DSS.LU_DAY_MERGE\n    WHERE D_DATE = CURRENT_DATE + 7  \n    GROUP BY 1)\n  GROUP BY 1)   \n\nGROUP BY 1', '\n\n\n   \n\n\nUPDATE VT_PDA_LU_TIME\n\nSET WEEK_ID_MINUS_1 = (\n  \n  SELECT PROMO_WEEK_ID  \n \n  FROM DW_DSS.LU_PROMO_DAY\n  \n  WHERE DIVISION_ID = 25 \n  \n  AND D_DATE = (\n    SELECT D_DATE\n    FROM DW_DSS.LU_DAY_MERGE\n    WHERE WEEKDAY_NBR = 4  \n    AND WEEK_ID = (\n      SELECT WEEK_ID\n      FROM DW_DSS.LU_DAY_MERGE\n      WHERE D_DATE = CURRENT_DATE  \n      GROUP BY 1)\n    GROUP BY 1)\n  \n  GROUP BY 1)', '\n\n  \n\n\n\nUPDATE VT_PDA_LU_TIME\n\nSET PGM_PERIOD_ID = (\n   \n   SELECT PERIOD_ID AS PGM_PERIOD_ID\n  \n   FROM\n  \n    (SELECT PERIOD_ID, RANK() OVER (ORDER BY MAX(PERIOD_ID) DESC) - 1 AS COMPLETED_PROMO_PERIODS_BEFORE_ALLOCATION_WEEK  \n    FROM DW_DSS.LU_PROMO_DAY\n    WHERE DIVISION_ID = 25 \n    AND D_DATE <= (\n      SELECT D_DATE\n      FROM DW_DSS.LU_DAY_MERGE\n      WHERE WEEKDAY_NBR = 4  \n      AND WEEK_ID = (\n        SELECT WEEK_ID\n        FROM DW_DSS.LU_DAY_MERGE\n        WHERE D_DATE = CURRENT_DATE + 7  \n        GROUP BY 1)\n      GROUP BY 1)      \n      \n    GROUP BY 1) AS X\n   \n   WHERE COMPLETED_PROMO_PERIODS_BEFORE_ALLOCATION_WEEK = 2  \n   \n   GROUP BY 1)', '  \n\n\n\n\n\nUPDATE VT_PDA_LU_TIME AS A\n\nSET FISCAL_WEEK_ID = B.WEEK_ID\n, FISCAL_QUARTER_ID = B.QUARTER_ID \nFROM (\n\n  SELECT WEEK_ID, QUARTER_ID \n  FROM DW_DSS.LU_DAY_MERGE \n  WHERE D_DATE = (\n   SELECT MAX(D_DATE) \n   FROM DW_DSS.LU_PROMO_DAY\n   WHERE DIVISION_ID = 25  \n   AND PROMO_WEEK_ID = (SELECT WEEK_ID FROM VT_PDA_LU_TIME GROUP BY 1)  \n   )\n       \n  GROUP BY 1,2\n\n) AS B', '\n\n \n\n\n\n\n\n\nUPDATE VT_PDA_LU_TIME\nSET UPDATE_TS_MT = CURRENT_TIMESTAMP', '\n\n\n\n\nDELETE FROM TEMP_MARKETING.PDA_LU_TIME', ' \n\n\n\nINSERT INTO TEMP_MARKETING.PDA_LU_TIME\n\nSELECT *\nFROM VT_PDA_LU_TIME', '\n\n\n\n\n\n\n\n\n\nCREATE OR REPLACE TABLE TEMP_MARKETING.PDA_LU_HH (\nHOUSEHOLD_ID BIGINT\n, PRIM_STORE_ID INT\n, J4U_REGION_ID INT\n, DIVISION_ID INT\n, REGISTERED_IND BYTEINT\n, ALCOHOL_BUYER_IND BYTEINT\n, BABY_BUYER_IND BYTEINT\n, BEEF_BUYER_IND BYTEINT\n, CAT_BUYER_IND BYTEINT\n, CHICKEN_BUYER_IND BYTEINT\n, DOG_BUYER_IND BYTEINT\n, PORK_BUYER_IND BYTEINT\n, SEAFOOD_BUYER_IND BYTEINT\n, UPDATE_TS_MT TIMESTAMP\n) ', '\n\n\n\n\n\nINSERT INTO TEMP_MARKETING.PDA_LU_HH\n\nSELECT A.HOUSEHOLD_ID\n, A.PRIM_STORE_ID\n, A.DIVISION_ID AS J4U_REGION_ID\n, CASE WHEN A.DIVISION_ID = 26 THEN 25 WHEN A.DIVISION_ID = 28 THEN 27 ELSE A.DIVISION_ID END AS DIVISION_ID\n, CASE WHEN B.HOUSEHOLD_ID IS NOT NULL THEN 1 ELSE 0 END AS REGISTERED_IND\n, 0 AS ALCOHOL_BUYER_IND\n, 0 AS BABY_BUYER_IND\n, 0 AS BEEF_BUYER_IND\n, 0 AS CAT_BUYER_IND\n, 0 AS CHICKEN_BUYER_IND\n, 0 AS DOG_BUYER_IND\n, 0 AS PORK_BUYER_IND\n, 0 AS SEAFOOD_BUYER_IND\n, CURRENT_TIMESTAMP UPDATE_TS_MT  \n\nFROM TEMP_CMS.JAA_HH_DIV_PRIMARY_STORE AS A    \n\nLEFT JOIN TEMP_MARKETING.J4U_ONLINE_REGISTERED_HHS AS B   \nON A.HOUSEHOLD_ID = B.HOUSEHOLD_ID\nAND B.J4U_FIRST_VISIT_DT IS NOT NULL\n\nWHERE A.PGM_PERIOD_ID = (SELECT PGM_PERIOD_ID FROM TEMP_MARKETING.PDA_LU_TIME GROUP BY 1)\n\nAND A.DIVISION_ID IN (5,17,19,20,25,26,27,28,29,30,32,33,34,35)\n\nGROUP BY 1,2,3,4,5', '\n\n\n\n\nUPDATE TEMP_MARKETING.PDA_LU_HH AS A\n\nSET BABY_BUYER_IND = B.BABY_BUYER_IND\n, DOG_BUYER_IND = B.DOG_BUYER_IND\n, CAT_BUYER_IND = B.CAT_BUYER_IND\n, CHICKEN_BUYER_IND = B.CHICKEN_BUYER_IND\n, BEEF_BUYER_IND = B.BEEF_BUYER_IND\n, PORK_BUYER_IND = B.PORK_BUYER_IND\n, SEAFOOD_BUYER_IND = B.SEAFOOD_BUYER_IND\n, ALCOHOL_BUYER_IND = B.ALCOHOL_BUYER_IND\n\nFROM (\n  \n  SELECT HOUSEHOLD_ID \n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 1 AND ATTRIBUTE_FLAG = 1 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS BABY_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 2 AND ATTRIBUTE_FLAG = 1 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS DOG_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 3 AND ATTRIBUTE_FLAG = 1 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS CAT_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 4 AND ATTRIBUTE_FLAG = 1 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS CHICKEN_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 4 AND ATTRIBUTE_FLAG = 2 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS BEEF_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 4 AND ATTRIBUTE_FLAG = 3 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS PORK_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 4 AND ATTRIBUTE_FLAG = 4 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS SEAFOOD_BUYER_IND\n  , CASE WHEN COUNT(CASE WHEN ATTRIBUTE_ID = 5 AND ATTRIBUTE_FLAG = 1 THEN HOUSEHOLD_ID END) > 0 THEN 1 ELSE 0 END AS ALCOHOL_BUYER_IND\n  \n  FROM TEMP_CMS.AA_J4U_HH_ATTRIBUTES \n  \n  WHERE RUN_ID = (SELECT PGM_PERIOD_ID FROM TEMP_MARKETING.PDA_LU_TIME GROUP BY 1)\n  \n  GROUP BY 1\n\n) AS B\n\nWHERE A.HOUSEHOLD_ID = B.HOUSEHOLD_ID', '\n\n\n\n\n\n\n\nUPDATE TEMP_MARKETING.PDA_LU_HH\nSET UPDATE_TS_MT = CURRENT_TIMESTAMP', '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCREATE OR REPLACE TEMPORARY TABLE VT_PDA_LU_OFFER (\nOFFER_NBR INT\n, OFFER_DSC VARCHAR(100)\n, REP_UPC BIGINT\n, CLASS_ID INT\n, CATEGORY_ID INT\n, GROUP_ID INT\n, DEPT_NM VARCHAR(100)\n, ATTRIBUTE_NM VARCHAR(50)\n, UPDATE_TS_MT TIMESTAMP\n) \n', "\n\n\n\n\n\n\n\nINSERT INTO VT_PDA_LU_OFFER\n\nSELECT A.OFFER_NBR\n, A.OFFER_DSC\n, A.REP_UPC\n, B.CLASS_ID\n, B.CATEGORY_ID\n, B.GROUP_ID\n, D.DEPT_NM\n, NULL AS ATTRIBUTE_NM\n, NULL AS UPDATE_TS_MT\n\nFROM \n  \n  (SELECT OFFER_NBR, REP_UPC, SUBSTR(MAX(TRIM(COALESCE(VERBIAGE1,'')) || ' ' || TRIM(COALESCE(VERBIAGE2,'')) || ' ' || TRIM(COALESCE(VERBIAGE3,''))),1,100) AS OFFER_DSC\n  , ROW_NUMBER() OVER (PARTITION BY OFFER_NBR ORDER BY COUNT(*) DESC) RNK\n  FROM TEMP_CMS.JAA_CONSOL_OFF_BNK \n  WHERE WEEK_ID = (SELECT WEEK_ID FROM TEMP_MARKETING.PDA_LU_TIME GROUP BY 1) \n  AND PROGRAM_TYPE = 'DIVWKLY' \n  AND PROGRAM_SUBTYPE NOT LIKE '%DEFAULT%'\n  AND REP_UPC > 0\n\n  GROUP BY 1,2) AS A\n\nJOIN DW_DSS.LU_UPC AS B\nON A.REP_UPC = B.UPC_ID\nAND A.RNK = 1 \nJOIN \n\n  (SELECT CATEGORY_ID, DEPARTMENT_ID \n  FROM DW_DSS.LU_RESPONSIBILITY \n  WHERE CORPORATION_ID = 1 \n  GROUP BY 1,2) AS C\n  \nON B.CATEGORY_ID = C.CATEGORY_ID\n  \nJOIN TEMP_MARKETING.SES_UPC_HIER AS D  \nON C.DEPARTMENT_ID = D.DEPARTMENT_ID\n\nGROUP BY 1,2,3,4,5,6,7\n", "\n\n\n\n\n\n\n\nUPDATE VT_PDA_LU_OFFER AS A\n\nSET ATTRIBUTE_NM = B.ATTRIBUTE_NM\n\nFROM (\n  SELECT OFFER_NBR\n  \n  \n  \n  , CASE \n  \n   WHEN GROUP_ID = 65\n     AND CATEGORY_ID NOT IN (6530,6540) \n     AND CLASS_ID NOT IN (651105,651110)\n    THEN 'BABY'\n  \n  WHEN CATEGORY_ID IN (3206,3207,3209,3210)   \n    THEN 'CAT'\n  \n  WHEN CATEGORY_ID IN (3201,3202,3203,3204)  \n    THEN 'DOG'\n  \n  WHEN GROUP_ID = 89 \n     AND CATEGORY_ID NOT IN (8955,8935) \n    THEN 'ALCOHOL'\n   \n  WHEN CATEGORY_ID IN (8104,8830,8833,8840,8841,8846,8866, 8203,8857, 8858, 8863)\n    THEN 'CHICKEN'\n   \n  WHEN CATEGORY_ID IN (8801,8802,8804,8810,8820,8850,8815,8808)\n    THEN 'BEEF'    \n  \n  WHEN CATEGORY_ID IN (8825,8855,8856,8859,4505, 8853)\n    THEN 'PORK'    \n   \n  WHEN CATEGORY_ID IN (8608,8610,8615,8625,8630,8632,8640,8645,8650,8655,8685,8690,8693,8695, 2301,2305)\n    THEN 'SEAFOOD' \n  \n  END AS ATTRIBUTE_NM\n  \n  \n \n  FROM VT_PDA_LU_OFFER\n  \n  GROUP BY 1,2\n\n) AS B\n\nWHERE A.OFFER_NBR = B.OFFER_NBR", '\n\n\n\n \n\n\n\n\n\n\n\n\n\nUPDATE VT_PDA_LU_OFFER\nSET UPDATE_TS_MT = CURRENT_TIMESTAMP', ' \n\n\nDELETE FROM TEMP_MARKETING.PDA_LU_OFFER', '\n\n\n\nINSERT INTO TEMP_MARKETING.PDA_LU_OFFER\n\nSELECT *\nFROM VT_PDA_LU_OFFER', '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nCREATE OR REPLACE TEMPORARY TABLE VT_PDA_LU_OFFER_UPCS (\nUPC_ID BIGINT\n, OFFER_NBR INT\n, OFFER_DSC VARCHAR(100)\n, DEPARTMENT_ID INT\n, DEPARTMENT_NM VARCHAR(100)\n, GROUP_ID INT\n, GROUP_NM VARCHAR(100)\n, CATEGORY_ID INT\n, CATEGORY_NM VARCHAR(100)\n, CLASS_ID INT\n, CLASS_NM VARCHAR(100)\n, ATTRIBUTE_NM VARCHAR(50)\n, MANUF_TYPE_CD VARCHAR(5)\n, BRAND_CD INT\n, UPDATE_TS_MT TIMESTAMP\n) ON COMMIT PRESERVE ROWS', "\n\n\n\n\n\n\n\nINSERT INTO VT_PDA_LU_OFFER_UPCS\n\nSELECT B.UPC_ID\n, MIN(C.OFFER_NBR) AS OFFER_NBR\n, NULL AS OFFER_DSC\n, 0 AS DEPARTMENT_ID\n, NULL AS DEPARTMENT_NM\n, 0 AS GROUP_ID\n, NULL AS GROUP_NM\n, 0 AS CATEGORY_ID\n, NULL AS CATEGORY_NM\n, 0 AS CLASS_ID\n, NULL AS CLASS_NM\n, NULL AS ATTRIBUTE_NM\n, NULL AS MANUF_TYPE_CD\n, 0 AS BRAND_CD\n, NULL AS UPDATE_TS_MT  \n\nFROM DW_DSS.LU_OFFER AS A\n\nJOIN DW_DSS.COPIENT_ITEM_PROMO_PRC AS B\nON A.INCENTIVE_ID = B.INCENTIVE_ID\n\nJOIN TEMP_CMS.JAA_CONSOL_OFF_BNK AS C\nON A.CLIENT_OFFER_ID = C.REQ_ID\n\nJOIN DW_DSS.LU_UPC AS D\nON B.UPC_ID = D.UPC_ID\n\nWHERE B.UPC_ID > 0\n\nAND C.WEEK_ID = (SELECT WEEK_ID FROM TEMP_MARKETING.PDA_LU_TIME GROUP BY 1) \nAND C.PROGRAM_TYPE = 'DIVWKLY' \nAND C.PROGRAM_SUBTYPE NOT LIKE '%DEFAULT%'\n\nAND D.GROUP_ID BETWEEN 1 AND 97\nAND D.DEPARTMENT_ID > 0\nAND D.DEPT_SECTION_NM IS NOT NULL\nAND TRIM(D.DEPT_SECTION_NM)<>' '   \n\nGROUP BY 1", '\n\n\n\n\n\n\n\nUPDATE VT_PDA_LU_OFFER_UPCS AS A\n\nSET DEPARTMENT_ID = B.DEPARTMENT_ID\n, DEPARTMENT_NM = B.DEPARTMENT_NM\n, GROUP_ID = B.GROUP_ID\n, GROUP_NM = B.GROUP_NM\n, CATEGORY_ID = B.CATEGORY_ID\n, CATEGORY_NM = B.CATEGORY_NM\n, CLASS_ID = B.CLASS_ID\n, CLASS_NM = B.CLASS_NM\n, MANUF_TYPE_CD = B.MANUF_TYPE_CD\n, BRAND_CD = B.BRAND_CD\n, ATTRIBUTE_NM = B.ATTRIBUTE_NM\n, OFFER_DSC = B.OFFER_DESC\n\nFROM (\n  \n  SELECT A.OFFER_NBR\n  , C.DEPARTMENT_ID\n  , INITCAP(TRIM(LOWER(C.DEPARTMENT_NM))) AS DEPARTMENT_NM  \n  , C.GROUP_ID\n  , INITCAP(TRIM(LOWER(C.GROUP_NM))) AS GROUP_NM \n  , C.CATEGORY_ID\n  , INITCAP(TRIM(LOWER(C.CATEGORY_NM))) AS CATEGORY_NM  \n  , B.CLASS_ID\n  , INITCAP(TRIM(LOWER(B.CLASS_NM))) AS CLASS_NM \n  , TRIM(B.MANUF_TYPE_CD) AS MANUF_TYPE_CD\n  , TRIM(B.BRAND_CD) AS BRAND_CD  \n  , A.ATTRIBUTE_NM\n  , MAX(A.OFFER_DSC) AS OFFER_DESC\n  , ROW_NUMBER() OVER (PARTITION BY A.OFFER_NBR ORDER BY COUNT(*) DESC) R1\n  \n  FROM VT_PDA_LU_OFFER AS A\n  \n  JOIN DW_DSS.LU_UPC AS B\n  ON A.REP_UPC = B.UPC_ID\n  \n  JOIN \n    (SELECT DEPARTMENT_ID, DEPARTMENT_NM, GROUP_ID, GROUP_NM, CATEGORY_ID, CATEGORY_NM \n    FROM DW_DSS.LU_RESPONSIBILITY \n    WHERE CORPORATION_ID = 1 \n    GROUP BY 1,2,3,4,5,6) AS C\n    \n  ON B.CATEGORY_ID = C.CATEGORY_ID   \n  \n \n  \n  GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12\n\n) AS B\n\nWHERE A.OFFER_NBR = B.OFFER_NBR\nAND B.R1 = 1', '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUPDATE VT_PDA_LU_OFFER_UPCS\nSET UPDATE_TS_MT = CURRENT_TIMESTAMP', '\n\n\n\n\nDELETE FROM TEMP_MARKETING.PDA_LU_OFFER_UPCS', '\n\n\n\nINSERT INTO TEMP_MARKETING.PDA_LU_OFFER_UPCS\n\nSELECT *\nFROM VT_PDA_LU_OFFER_UPCS', '\n\n\n\n\n\n\n\n\nCREATE OR REPLACE TEMPORARY TABLE VT_PDA_OFFER_STORE_SCAN (\nOFFER_NBR INT\n, STORE_ID INT\n, SCAN_DAYS_CHECK INT\n, UPDATE_TS_MT TIMESTAMP\n) ON COMMIT PRESERVE ROWS', '\n\n\n\n\n\n\n\n\nUSE WAREHOUSE PROD_CARD_MARKETING_BIG_WH', '\nINSERT INTO VT_PDA_OFFER_STORE_SCAN\n\nSELECT C.OFFER_NBR, A.STORE_ID, 7 AS SCAN_DAYS_CHECK, CURRENT_TIMESTAMP UPDATE_TS_MT\n\nFROM DW_DSS.TXN_FACTS AS A\n\nJOIN DW_DSS.LU_STORE_FINANCE_OM AS B\nON A.STORE_ID = B.STORE_ID\n\nJOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS C\nON A.UPC_ID = C.UPC_ID   \n  \nWHERE TXN_DTE BETWEEN CURRENT_DATE - 7 AND CURRENT_DATE - 1\nAND TXN_HDR_SRC_CD = 0\nAND MISC_ITEM_QTY = 0\nAND DEPOSIT_ITEM_QTY = 0\nAND REV_DTL_SUBTYPE_ID IN (0,7)\n\n\n\n\nGROUP BY 1,2\nHAVING SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT) > 0     \n\n\n\n\nUNION\n\n\nSELECT C.OFFER_NBR, A.STORE_ID, 7 AS SCAN_DAYS_CHECK, CURRENT_TIMESTAMP AS UPDATE_TS_MT\n\nFROM DW_DSS.TXN_FACTS AS A\n\nJOIN DW_DSS.LU_STORE_FINANCE_OM AS B\nON A.STORE_ID = B.STORE_ID       \n\nJOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS C\nON A.PLU_CD = C.UPC_ID  \n  \nWHERE TXN_DTE BETWEEN CURRENT_DATE - 7 AND CURRENT_DATE - 1\nAND TXN_HDR_SRC_CD = 0\nAND MISC_ITEM_QTY = 0\nAND DEPOSIT_ITEM_QTY = 0\nAND REV_DTL_SUBTYPE_ID IN (0,7)\n\n\n\n\nAND A.PLU_CD > 0  \n\nGROUP BY 1,2\nHAVING SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT) > 0', ' \n\n\n\n\n\n\n\n\n\n\n\n\n\nDELETE FROM TEMP_MARKETING.PDA_OFFER_STORE_SCAN', '\n\n\n\nINSERT INTO TEMP_MARKETING.PDA_OFFER_STORE_SCAN\n\nSELECT *\nFROM VT_PDA_OFFER_STORE_SCAN', '\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUSE SCHEMA TEMP_MARKETING', '\n\nCREATE OR REPLACE TEMPORARY TABLE VT_PDA_HH_OFFER_SALES (\nHOUSEHOLD_ID BIGINT\n, FISCAL_WEEK_ID INT\n, OFFER_NBR INT\n, CATEGORY_ID INT\n, NET_SALES DEC(18,2)\n, TXNS BIGINT\n, UPDATE_TS_MT TIMESTAMP\n) ON COMMIT PRESERVE ROWS', '\n\n\n\n\n\nINSERT INTO VT_PDA_HH_OFFER_SALES\n\nSELECT HOUSEHOLD_ID, WEEK_ID AS FISCAL_WEEK_ID, OFFER_NBR, CATEGORY_ID, SUM(SALES) AS NET_SALES, COUNT(DISTINCT TXN_ID) AS TXNS, CURRENT_TIMESTAMP AS UPDATE_TS_MT\n\nFROM\n\n  (SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.UPC_ID = D.UPC_ID\n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID\n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE\n  \n  JOIN\n  \n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*13 AND CURRENT_DATE - 7*1\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n  AND TXN_HDR_SRC_CD = 0\n  AND MISC_ITEM_QTY = 0\n  AND DEPOSIT_ITEM_QTY = 0\n  AND REV_DTL_SUBTYPE_ID IN (0,7)\n  \n  \n  GROUP BY 1,2,3,4,5,6,7\nHAVING SALES > 0    \n  \n  \n  \n  \n  UNION ALL\n  \n  \n  SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.PLU_CD = D.UPC_ID \n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID   \n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE    \n  \n  JOIN\n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*13 AND CURRENT_DATE - 7*1\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n  AND TXN_HDR_SRC_CD = 0\n  AND MISC_ITEM_QTY = 0\n  AND DEPOSIT_ITEM_QTY = 0\n  AND REV_DTL_SUBTYPE_ID IN (0,7)\n  \n  \n  AND A.PLU_CD > 0  \n  \n  GROUP BY 1,2,3,4,5,6,7\nHAVING SALES > 0\n  \n  ) AS X\n\nGROUP BY 1,2,3,4', '\n\n\n\n\n\n\nINSERT INTO VT_PDA_HH_OFFER_SALES\n\nSELECT HOUSEHOLD_ID, WEEK_ID AS FISCAL_WEEK_ID, OFFER_NBR, CATEGORY_ID, SUM(SALES) AS NET_SALES, COUNT(DISTINCT TXN_ID) AS TXNS, CURRENT_TIMESTAMP AS UPDATE_TS_MT\n\nFROM\n\n  (SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.UPC_ID = D.UPC_ID\n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID\n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE\n  \n  JOIN\n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*26 AND CURRENT_DATE - 7*14\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n  AND TXN_HDR_SRC_CD = 0\n  AND MISC_ITEM_QTY = 0\n  AND DEPOSIT_ITEM_QTY = 0\n  AND REV_DTL_SUBTYPE_ID IN (0,7)\n  \n  \n  GROUP BY 1,2,3,4,5,6,7\nHAVING SALES > 0    \n  \n  \n  \n  \n  UNION ALL\n  \n  \n  SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.PLU_CD = D.UPC_ID  \n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID   \n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE    \n  \n  JOIN\n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*26 AND CURRENT_DATE - 7*14\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n  AND TXN_HDR_SRC_CD = 0\n  AND MISC_ITEM_QTY = 0\n  AND DEPOSIT_ITEM_QTY = 0\n  AND REV_DTL_SUBTYPE_ID IN (0,7)\n  \n  \n  AND A.PLU_CD > 0  \n  \n  GROUP BY 1,2,3,4,5,6,7\nHAVING SALES > 0\n  \n  ) AS X\n\nGROUP BY 1,2,3,4', '\n\n\n\n\n\n\nINSERT INTO VT_PDA_HH_OFFER_SALES\n\nSELECT HOUSEHOLD_ID, WEEK_ID AS FISCAL_WEEK_ID, OFFER_NBR, CATEGORY_ID, SUM(SALES) AS NET_SALES, COUNT(DISTINCT TXN_ID) AS TXNS, CURRENT_TIMESTAMP AS UPDATE_TS_MT\n\nFROM\n\n  (SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.UPC_ID = D.UPC_ID\n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID\n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE\n  \n  JOIN\n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*40 AND CURRENT_DATE - 7*27\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n  AND TXN_HDR_SRC_CD = 0\n  AND MISC_ITEM_QTY = 0\n  AND DEPOSIT_ITEM_QTY = 0\n  AND REV_DTL_SUBTYPE_ID IN (0,7)\n  \n  \n  GROUP BY 1,2,3,4,5,6,7\nHAVING SALES > 0    \n  \n  \n  \n  \n  UNION ALL\n  \n  \n  SELECT D.OFFER_NBR\n  , D.OFFER_DSC\n  , D.CATEGORY_ID\n  , CAST(A.TXN_ID AS DEC(26,0)) AS TXN_ID\n  , A.TXN_DTE\n  , F.WEEK_ID\n  , C.HOUSEHOLD_ID    \n  , ZEROIFNULL(SUM(NET_AMT + MKDN_WOD_ALLOC_AMT + MKDN_POD_ALLOC_AMT)) AS SALES\n  \n  FROM DW_DSS.TXN_FACTS AS A\n  \n  JOIN DW_DSS.LU_STORE_FINANCE_OM AS B\n  ON A.STORE_ID = B.STORE_ID\n  \n  JOIN DW_DSS.LU_CARD_ACCOUNT AS C\n  ON A.CARD_NBR = C.CARD_NBR\n  AND C.HOUSEHOLD_ID > 0\n  \n  JOIN TEMP_MARKETING.PDA_LU_OFFER_UPCS AS D\n  ON A.PLU_CD = D.UPC_ID  \n  \n  JOIN TEMP_MARKETING.PDA_LU_HH AS E\n  ON C.HOUSEHOLD_ID = E.HOUSEHOLD_ID   \n  \n  JOIN DW_DSS.LU_DAY_MERGE AS F\n  ON A.TXN_DTE = F.D_DATE    \n  \n  JOIN\n   (SELECT WEEK_ID\n   FROM DW_DSS.LU_DAY_MERGE\n   WHERE D_DATE BETWEEN CURRENT_DATE - 7*40 AND CURRENT_DATE - 7*27\n   GROUP BY 1) AS G\n  \n  ON F.WEEK_ID = G.WEEK_ID  \n   \n  WHERE TXN_DTE >= CURRENT_DATE - 430\n 

In [46]:
"INSERT INTO " in query[0]

True

In [89]:
dfinal = []
c = 0

In [81]:
import re
batRegex = re.compile(r'(?<=JOIN )\w+.\w+')
mo1 = batRegex.findall(query[8])
print(mo1)

['TEMP_MARKETING.J4U_ONLINE_REGISTERED_HHS']

In [ ]:
"target_table_name": [
            {
                "type": "from or join",
                "name": "source_table1"
            },
            {
                "type": "from or join",
                "name": "source_table2"
            }

In [49]:
query[0]

'INSERT INTO VT_PDA_LU_TIME\n\nSELECT PROMO_WEEK_ID AS WEEK_ID  \n\n, NULL AS WEEK_ID_MINUS_1\n, NULL AS PGM_PERIOD_ID\n, NULL AS FISCAL_WEEK_ID\n, NULL AS FISCAL_QUARTER_ID\n, NULL AS UPDATE_TS_MT\n\nFROM DW_DSS.LU_PROMO_DAY\n\nWHERE DIVISION_ID = 25 \n\nAND D_DATE = (\n  SELECT D_DATE\n  FROM DW_DSS.LU_DAY_MERGE\n  WHERE WEEKDAY_NBR = 4  \n  AND WEEK_ID = (\n    SELECT WEEK_ID\n    FROM DW_DSS.LU_DAY_MERGE\n    WHERE D_DATE = CURRENT_DATE + 7  \n    GROUP BY 1)\n  GROUP BY 1)   \n\nGROUP BY 1'

In [90]:
import re
for strval in query:
    if "INSERT INTO " in strval:
        d = {}
        c += 1
        d["statement_id"] = c
        d["statement_type"] = "insert"
        target = []
        if "FROM " in strval:
            Reg = re.compile(r'(?<=FROM )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "from","name" : val}
            target.append(dtemp)
        if "JOIN " in strval:
            Reg = re.compile(r'(?<=JOIN )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "join","name" : val}
            target.append(dtemp)
            
        Regex = re.compile(r'(?<=INSERT INTO )\w+')
        mo1 = Regex.search(strval)
        d[mo1.group(0)] = target
        dfinal.append(d)
    if "UPDATE " in strval:                         
        d = {}
        c += 1
        d["statement_id"] = c
        d["statement_type"] = "update"
        target = []
        if "FROM " in strval:
            Reg = re.compile(r'(?<=FROM )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "from","name" : val}
            target.append(dtemp)
        if "JOIN " in strval:
            Reg = re.compile(r'(?<=JOIN )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "join","name" : val}
            target.append(dtemp)
            
        Regex = re.compile(r'(?<=UPDATE )\w+')
        mo1 = Regex.search(strval)
        d[mo1.group(0)] = target
        dfinal.append(d)
    if "CREATE OR REPLACE TABLE " in strval:
        d = {}
        c += 1
        d["statement_id"] = c
        d["statement_type"] = "create"
        target = []
        if "FROM " in strval:
            Reg = re.compile(r'(?<=FROM )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "from","name" : val}
            target.append(dtemp)
        if "JOIN " in strval:
            Reg = re.compile(r'(?<=JOIN )\w+.\w+')
            mo1 = Reg.findall(strval)
            s = set(mo1)
            for val in s:
                dtemp = {"type" : "join","name" : val}
            target.append(dtemp)
            
        Regex = re.compile(r'(?<=CREATE OR REPLACE TABLE )\w+')
        mo1 = Regex.search(strval)
        d[mo1.group(0)] = target
        dfinal.append(d)
    if "DELETE FROM " in strval:
        d = {}
        c += 1
        d["statement_id"] = c
        d["statement_type"] = "delete"
        Regex = re.compile(r'(?<=DELETE FROM )\w+')
        mo1 = Regex.search(strval)
        d[mo1.group(0)] = []
        dfinal.append(d)

In [91]:
dfinal

[{'statement_id': 1,
  'statement_type': 'insert',
  'VT_PDA_LU_TIME': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 2,
  'statement_type': 'update',
  'VT_PDA_LU_TIME': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 3,
  'statement_type': 'update',
  'VT_PDA_LU_TIME': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 4,
  'statement_type': 'update',
  'VT_PDA_LU_TIME': [{'type': 'from', 'name': 'VT_PDA_LU_TIME GROUP'}]},
 {'statement_id': 5, 'statement_type': 'update', 'VT_PDA_LU_TIME': []},
 {'statement_id': 6, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 7,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_LU_TIME'}]},
 {'statement_id': 8, 'statement_type': 'create', 'TEMP_MARKETING': []},
 {'statement_id': 9,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'TEMP_MARKETING.PDA_LU_TIME'},
   {'type': 'join', 'name': 'TEMP_MARKETING.J4U_ONLINE_REGISTERED_HHS'}]},
 {'statement_id': 10,
  'statement_type': 'update',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'TEMP_MARKETING.PDA_LU_TIME'}]},
 {'statement_id': 11, 'statement_type': 'update', 'TEMP_MARKETING': []},
 {'statement_id': 12,
  'statement_type': 'insert',
  'VT_PDA_LU_OFFER': [{'type': 'from', 'name': 'DW_DSS.LU_RESPONSIBILITY'},
   {'type': 'join', 'name': 'DW_DSS.LU_UPC'}]},
 {'statement_id': 13,
  'statement_type': 'update',
  'VT_PDA_LU_OFFER': [{'type': 'from', 'name': 'VT_PDA_LU_OFFER'}]},
 {'statement_id': 14, 'statement_type': 'update', 'VT_PDA_LU_OFFER': []},
 {'statement_id': 15, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 16,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_LU_OFFER'}]},
 {'statement_id': 17,
  'statement_type': 'insert',
  'VT_PDA_LU_OFFER_UPCS': [{'type': 'from',
    'name': 'TEMP_MARKETING.PDA_LU_TIME'},
   {'type': 'join', 'name': 'DW_DSS.LU_UPC'}]},
 {'statement_id': 18,
  'statement_type': 'update',
  'VT_PDA_LU_OFFER_UPCS': [{'type': 'from',
    'name': 'DW_DSS.LU_RESPONSIBILITY'},
   {'type': 'join', 'name': 'DW_DSS.LU_UPC'}]},
 {'statement_id': 19, 'statement_type': 'update', 'VT_PDA_LU_OFFER_UPCS': []},
 {'statement_id': 20, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 21,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 22,
  'statement_type': 'insert',
  'VT_PDA_OFFER_STORE_SCAN': [{'type': 'from', 'name': 'DW_DSS.TXN_FACTS'},
   {'type': 'join', 'name': 'TEMP_MARKETING.PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 23, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 24,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_OFFER_STORE_SCAN'}]},
 {'statement_id': 25,
  'statement_type': 'insert',
  'VT_PDA_HH_OFFER_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'TEMP_MARKETING.PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 26,
  'statement_type': 'insert',
  'VT_PDA_HH_OFFER_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'TEMP_MARKETING.PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 27,
  'statement_type': 'insert',
  'VT_PDA_HH_OFFER_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'TEMP_MARKETING.PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 28,
  'statement_type': 'insert',
  'VT_PDA_HH_OFFER_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'TEMP_MARKETING.PDA_LU_OFFER_UPCS'}]},
 {'statement_id': 29, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 30,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_HH_OFFER_SALES'}]},
 {'statement_id': 31,
  'statement_type': 'insert',
  'VT_PDA_HH_CAT_WEEK': [{'type': 'from',
    'name': 'TEMP_MARKETING.FISCAL_WK_HH_CATEGORY_SPEND'}]},
 {'statement_id': 32,
  'statement_type': 'insert',
  'VT_PDA_MULT_PURCH_CYCLE': [{'type': 'from',
    'name': 'VT_PDA_HH_CAT_WEEK AS'},
   {'type': 'join', 'name': 'VT_MULT_CAT_PURCH AS'}]},
 {'statement_id': 33,
  'statement_type': 'insert',
  'VT_PDA_PURCH_CYCLE': [{'type': 'from', 'name': 'VT_PDA_HH_CAT_WEEK'}]},
 {'statement_id': 34,
  'statement_type': 'update',
  'VT_PDA_PURCH_CYCLE': [{'type': 'from', 'name': 'VT_PDA_MULT_PURCH_CYCLE'}]},
 {'statement_id': 35,
  'statement_type': 'update',
  'VT_PDA_PURCH_CYCLE': [{'type': 'from', 'name': 'VT_PDA_MULT_PURCH_CYCLE'}]},
 {'statement_id': 36, 'statement_type': 'update', 'VT_PDA_PURCH_CYCLE': []},
 {'statement_id': 37, 'statement_type': 'update', 'VT_PDA_PURCH_CYCLE': []},
 {'statement_id': 38, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 39,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_PURCH_CYCLE'}]},
 {'statement_id': 40,
  'statement_type': 'insert',
  'VT_PDA_SEASONALITY': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 41, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 42,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from', 'name': 'VT_PDA_SEASONALITY'}]},
 {'statement_id': 43,
  'statement_type': 'insert',
  'VT_PDA_ATTRIBUTE_BUYERS': [{'type': 'from',
    'name': 'TEMP_MARKETING.WKLY_HH_SEG'},
   {'type': 'join', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 44, 'statement_type': 'delete', 'TEMP_MARKETING': []},
 {'statement_id': 45,
  'statement_type': 'insert',
  'TEMP_MARKETING': [{'type': 'from',
    'name': 'TEMP_CMS.VT_PDA_ATTRIBUTE_BUYERS'}]},
 {'statement_id': 46,
  'statement_type': 'insert',
  'VT_PDA_HH_UPC_WKLY_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 47,
  'statement_type': 'insert',
  'VT_PDA_HH_UPC_WKLY_SALES': [{'type': 'from', 'name': 'DW_DSS.LU_DAY_MERGE'},
   {'type': 'join', 'name': 'DW_DSS.LU_DAY_MERGE'}]},
 {'statement_id': 48,
  'statement_type': 'update',
  'VT_PDA_HH_UPC_WKLY_SALES': []},
 {'statement_id': 49, 'statement_type': 'delete', 'TEMP_MKTG': []},
 {'statement_id': 50,
  'statement_type': 'insert',
  'TEMP_MKTG': [{'type': 'from', 'name': 'VT_PDA_HH_UPC_WKLY_SALES'}]}]

In [94]:
import json


jsonStr = json.dumps(dfinal)
with open("sample.json", "w") as outfile:
    outfile.write(jsonStr)